*{
    font-family: nyt-franklin,helvetica,arial,sans-serif;
}
body{
    margin:0;
}

/* header{
    display: flex;
    background-color: aqua;
    padding: 4px 15px 2px 15px;

    
} */

header{
    background-color: saddlebrown;
    display: flex;
    width: 98%;
    justify-content: space-between;
    position: fixed;
    padding: 4px 15px 2px 15px;
}

.header-icons{
    color: #000;
    display: flex;
    align-items: center;
    font-size: 14.25px;
}

.header-icons i{
    color: #333;
    height: 16px;
    width: 16px;
    padding: 8px 9px 9px;
    
}

.cosmos{
   display: inline;
}

.logo{
    height:35px;
    width: 210px;
}

.header-right{
    display: flex;
    height: 10vh;
    align-items: center;
    justify-content: space-between;
    
   
}

.subs{
    cursor: pointer;
     white-space: nowrap;
    vertical-align: middle;
    background-color: rgb(86, 123, 149);
    color: rgb(255, 255, 255);
    font-size: 11px;
    line-height: 11px;
    font-weight: 700;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    border-radius: 3px;
    transition: all 0.6s ease 0s;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(50, 104, 145);
    border-image: initial;
    padding: 11px 12px 8px;

}


 /* main */
main{
    background-color: pink;
    display: flex;
    height: -webkit-fill-available;

    justify-content: center;
    
}
.content{
    background-color: greenyellow;
    display: inline-flex;
    width: 160vh;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
    
}
.mainContentHeading{
    padding-top: 5%;
    margin-top: 10%;
}

.mainArticleFig{
    width: 100%;
    height: 100%;
}

.smokingGunImage{
  
    width: inherit;
    height: 100%;
}